<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @complain.name %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @complain.subject %>
</p>

<p>
  <strong>Complain:</strong>
  <%= @complain.complain %>
</p>

<%= link_to 'Edit', edit_complain_path(@complain) %> |
<% if admin_signed_in? %>
<%= link_to 'Back', admin_root_url %>
<% elsif user_signed_in? %>
<%= link_to 'Back', user_root_url %>
<% end %>


