<%= form_with(model: complain, local: true) do |form| %>
  <% if complain.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(complain.errors.count, "error") %> prohibited this complain from being saved:</h2>

      <ul>
      <% complain.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<%if current_user.admin%>
<p>
  <strong>Subject:</strong>
  <%= @complain.subject %>
</p>

<p>
  <strong>Complain:</strong>
  <%= @complain.complain %>
</p>
  <div class="field">
    <%= form.label :status %>
    <%= form.select :status, ['Pending','processing','complete'] %>
  </div>
  <div class="field">
    <%= form.label :remarks %>
    <%= form.text_area :remarks %>
  </div>
<%else%>

  <div class="field">
    <%= form.label :subject %>
    <%= form.text_field :subject, :required => true %>
  </div>

  <div class="field">
    <%= form.label :complain %>
    <%= form.text_area :complain, :required => true %>
  </div>


  
<% end%>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
